<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/site}">
<head>
    <title>Thêm sản phẩm - ShopGuard</title>
</head>
<body>
<div layout:fragment="content" class="container mt-4">
    <h2 style="color: #2a9fd6;">Thêm sản phẩm mới</h2>

    <form th:action="@{/products/save}" th:object="${product}" method="post" class="form-group">
        <label>Tên sản phẩm:</label>
        <input type="text" th:field="*{name}" class="form-control" required>

        <label>Mô tả:</label>
        <textarea th:field="*{description}" class="form-control" required></textarea>

        <label>Giá:</label>
        <input type="number" th:field="*{price}" step="0.01" class="form-control" required>

        <label>Số lượng:</label>
        <input type="number" th:field="*{quantity}" class="form-control" required>

        <button type="submit" class="btn btn-primary mt-3">Thêm mới</button>
    </form>
</div>
</body>
</html>
