<!DOCTYPE html>
<html xmlns:th="http://ww.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layout/admin}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div layout:fragment="main">
	 	<div class="jumbotron">
            <div class="container">
                <h1>Admin, category page!</h1>
                <p>Contents ...</p>
                <p>
                    <a class="btn btn-primary btn-lg">Learn more</a>
                </p>
            </div>
        </div>
	</div>

</body>
</html>